body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

/* general */

html,
body {
  height: 100%;
  overflow: scroll;

}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}
.page-header a {
	text-decoration: none;
	color: #fff;
}

.masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

.page-header {
	padding-bottom: 0px;
	margin: 0px;
	border-bottom: none;
}

nav {
  float: right;
  margin-top: 25px;
}

.nav li a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

.nav a:first-child {
  border-left: 0 none;
}

.nav {
	margin-top: 0 !important;
}
.nav-tabs {
	border-bottom: none;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
  margin-left: 20%;
}


#main-container , #side-container{
  padding-top: 130px;
}

 /* image of yourself*/
.auth-image {
	float: left;
 	width: 200px;
 	height: auto;
 	margin-top: 10px;
  margin-right: 25px;
  border: 1px solid black;
}

/* sidebar width */

.sidebar-section {
  float: left;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}
.header2 h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}
/* the sidebar images */
.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

.nav {
	margin-top: 10%;
}

.panel-title {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

/* Portfolio Images */
.mythumbnail {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0px 25px;
}

.mythumbnail:nth-child(even) {
  margin-right: 40px;
}

.mythumbnail img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.mythumbnail h4 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.input-group,
input[type=name],
input[type=email] {
  display: block;
  width: 100%
}

input[type=name],
input[type=email] {
  height: 35px;
  padding: 0px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}
 input[type=message] {
  padding-top: 10px;
  padding-bottom: 190px;
  font-size: 14px;
 }

input[type=submit] {
  margin-top: 2%;
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/* footer */
.space {
  height: 40px;
}

.myfooter {
  width: 100%;
  height: 105px;
  padding: 30px 0px;
  clear: both;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

.panel-body {
  padding: 0px;
}
.panel {
  border: none;
}
